
@model SoftwareGrid.DataLogic.Models.ApplicantEmail

@* This partial view defines form fields that will appear when creating and editing entities *@

	<fieldset>
		@Html.ValidationSummary()
		<div class="form-item">
			@Html.LabelFor(model => model.EmailSendByUserID)
			<div class="editor-field">
			    @Html.DropDownListFor(model => model.EmailSendByUserID, ((IEnumerable<SoftwareGrid.DataLogic.Models.User>)ViewBag.PossibleEmailSendByUsers).Select(option => new SelectListItem {
			        Text = (option == null ? "None" : option.LastName), 
			        Value = option.UserID.ToString(),
			        Selected = (Model != null) && (option.UserID == Model.EmailSendByUserID)
			    }), "Choose...")
			</div>
			<div class="required_tag"></div>
			</div>
				
		<div class="form-item">
            @Html.LabelFor(model => model.SendDateTime)
            <div>
								@Html.EditorFor(model => model.SendDateTime)
				            </div>
					</div>
		<div class="form-item">
			@Html.LabelFor(model => model.EmailSendToApplicantID)
			<div class="editor-field">
			    @Html.DropDownListFor(model => model.EmailSendToApplicantID, ((IEnumerable<SoftwareGrid.DataLogic.Models.Applicant>)ViewBag.PossibleEmailSendToApplicants).Select(option => new SelectListItem {
			        Text = (option == null ? "None" : option.LastName), 
			        Value = option.ApplicantID.ToString(),
			        Selected = (Model != null) && (option.ApplicantID == Model.EmailSendToApplicantID)
			    }), "Choose...")
			</div>
			<div class="required_tag"></div>
			</div>
				
		<div class="form-item">
            @Html.LabelFor(model => model.EmailSubject)
            <div>
								@Html.EditorFor(model => model.EmailSubject)
				            </div>
					</div>
		
		<div class="form-item">
            @Html.LabelFor(model => model.EmailMessage)
            <div>
								@Html.EditorFor(model => model.EmailMessage)
				            </div>
					</div>
		
		<div class="form-item">
            @Html.LabelFor(model => model.IsEmailViewedByApplicant)
            <div>
								@Html.EditorFor(model => model.IsEmailViewedByApplicant)
				            </div>
					</div>
	
		<div class="form-item">
			<div class="button_bar clearfix">
				<button class="green" type="submit">
						<span>Submit</span>
				</button>
			</div>
		</div>
	</fieldset>
