@model SoftwareGrid.DataLogic.Models.VendorDocument
@* This partial view defines form fields that will appear when creating and editing entities *@
<fieldset>
    @Html.ValidationSummary()
    <div class="form-item">
        @Html.LabelFor(model => model.VendorDocumentCategoryID)
        <div class="editor-field">
            @Html.DropDownListFor(model => model.VendorDocumentCategoryID, ((IEnumerable<SoftwareGrid.DataLogic.Models.VendorDocumentCategory>)ViewBag.PossibleVendorDocumentCategories).Select(option => new SelectListItem
       {
           Text = (option == null ? "None" : option.Name),
           Value = option.VendorDocumentCategoryID.ToString(),
           Selected = (Model != null) && (option.VendorDocumentCategoryID == Model.VendorDocumentCategoryID)
       }), "Choose...")
        </div>
        <div class="required_tag">
        </div>
    </div>
    <div class="form-item">
        @Html.LabelFor(model => model.DocumentTitle)
        <div>
            @Html.EditorFor(model => model.DocumentTitle)
        </div>
        <div class="required_tag">
        </div>
    </div>
    <div class="form-item">
        @Html.LabelFor(model => model.FileContent)
        <div>
            @(Html.Telerik().Upload()
                        .Name("FileContent")
                        .Async(async => async
                            .Save("UploadFile", "VendorDocument")
                            .Remove("RemoveFile", "VendorDocument"))
                )
        </div>
        <div class="required_tag">
        </div>
    </div>
    <div class="form-item">
        @Html.LabelFor(model => model.FileName)
        <div>
            @Html.EditorFor(model => model.FileName)
        </div>
    </div>
    <div class="form-item">
        @Html.LabelFor(model => model.UploadDate)
        <div>
            @Html.EditorFor(model => model.UploadDate)
        </div>
    </div>
    <div class="form-item">
        <div class="button_bar clearfix">
            <button class="green" type="submit">
                <span>Submit</span>
            </button>
        </div>
    </div>
</fieldset>
