@model SoftwareGrid.DataLogic.Models.VendorDocument

@{
    ViewBag.Title = "Vendor Document";
    Layout = "~/Views/Shared/_LayoutVMS.cshtml";
}
<div class="flat_area grid_16">
    <h2>
        Vendor Document</h2>
</div>
<div class="box grid_16">
    <div class="block">
        <h2 class="box_head">
            Are you sure you want to delete this?</h2>
@using (Html.BeginForm()) {
	<fieldset>
				<div class="form-item">
		    <label>DocumentTitle</label>
		    <div class="display-field">@Model.DocumentTitle</div>
		</div>
				<div class="form-item">
		    <label>FileContent</label>
		    <div class="display-field">@Html.DisplayTextFor(_ => Model.FileContent).ToString()</div>
		</div>
				<div class="form-item">
		    <label>FileName</label>
		    <div class="display-field">@Model.FileName</div>
		</div>
				<div class="form-item">
		    <label>UploadDate</label>
		    <div class="display-field">@String.Format("{0:g}", Model.UploadDate)</div>
		</div>
				<div class="form-item">
		    <label>VendorDocumentCategory</label>
		    <div class="display-field">@(Model.VendorDocumentCategory == null ? "None" : Model.VendorDocumentCategory.Name)</div>
		</div>
				<div class="form-item">
		    <label>Vendor</label>
		    <div class="display-field">@Html.DisplayTextFor(_ => Model.Vendor).ToString()</div>
		</div>
				<div class="form-item">
	<div class="button_bar clearfix">
			<button class="green" type="submit">
				<span>Delete</span>
			</button>
		</div>
	</div>
	</fieldset>
}
	</div>
</div>
<p>
	@Html.ActionLink("Back to List", "Index",new { vendorId = ViewBag.VendorId })
</p>
	
