
@model SoftwareGrid.DataLogic.Models.ApplicantPhotoPortfolio

@* This partial view defines form fields that will appear when creating and editing entities *@

	<fieldset>
		@Html.ValidationSummary()
		<div class="form-item">
			@Html.LabelFor(model => model.ApplicantID)
			<div class="editor-field">
			    @Html.DropDownListFor(model => model.ApplicantID, ((IEnumerable<SoftwareGrid.DataLogic.Models.Applicant>)ViewBag.PossibleApplicants).Select(option => new SelectListItem {
			        Text = (option == null ? "None" : option.LastName), 
			        Value = option.ApplicantID.ToString(),
			        Selected = (Model != null) && (option.ApplicantID == Model.ApplicantID)
			    }), "Choose...")
			</div>
			<div class="required_tag"></div>
			</div>
				
		<div class="form-item">
            @Html.LabelFor(model => model.PortfolioTitle)
            <div>
								@Html.EditorFor(model => model.PortfolioTitle)
				            </div>
					
			<div class="required_tag"></div>
					</div>
		
		<div class="form-item">
            @Html.LabelFor(model => model.BriefDescription)
            <div>
								@Html.EditorFor(model => model.BriefDescription)
				            </div>
					</div>
		
		<div class="form-item">
            @Html.LabelFor(model => model.DocumentFile)
            <div>
								@(Html.Telerik().Upload()
                        .Name("DocumentFile")
                        .Async(async => async
                            .Save("UploadFile", "ApplicantPhotoPortfolio")
                            .Remove("RemoveFile", "ApplicantPhotoPortfolio"))
                )
				            </div>
					</div>
		
		<div class="form-item">
            @Html.LabelFor(model => model.OriginalFileInfo)
            <div>
								@Html.EditorFor(model => model.OriginalFileInfo)
				            </div>
					</div>
		
		<div class="form-item">
            @Html.LabelFor(model => model.IsDisplayInProfile)
            <div>
								@Html.EditorFor(model => model.IsDisplayInProfile)
				            </div>
					
			<div class="required_tag"></div>
					</div>
		
		<div class="form-item">
            @Html.LabelFor(model => model.DisplaySequence)
            <div>
								@Html.EditorFor(model => model.DisplaySequence)
				            </div>
					</div>
	
		<div class="form-item">
			<div class="button_bar clearfix">
				<button class="green" type="submit">
						<span>Submit</span>
				</button>
			</div>
		</div>
	</fieldset>
