@model SoftwareGrid.DataLogic.Models.Organization

@{
    ViewBag.Title = "Organization";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="flat_area grid_16">
    <h2>
        Organization</h2>
</div>
<div class="box grid_16">
    <div class="block">
        <h2 class="box_head">
            Are you sure you want to delete this?</h2>
@using (Html.BeginForm()) {
	<fieldset>
				<div class="form-item">
		    <label>Name</label>
		    <div class="display-field">@Model.Name</div>
		</div>
				<div class="form-item">
		    <label>LegalBusinessName</label>
		    <div class="display-field">@Model.LegalBusinessName</div>
		</div>
				<div class="form-item">
		    <label>OrganizationCodeNumber</label>
		    <div class="display-field">@Model.OrganizationCodeNumber</div>
		</div>
				<div class="form-item">
		    <label>AboutTheOrganization</label>
		    <div class="display-field">@Model.AboutTheOrganization</div>
		</div>
				<div class="form-item">
		    <label>WebAddress</label>
		    <div class="display-field">@Model.WebAddress</div>
		</div>
				<div class="form-item">
		    <label>Logo</label>
		    <div class="display-field">@Html.DisplayTextFor(_ => Model.Logo).ToString()</div>
		</div>
				<div class="form-item">
		    <label>OrgChartSequenceNumber</label>
		    <div class="display-field">@String.Format("{0:F}", Model.OrgChartSequenceNumber)</div>
		</div>
				<div class="form-item">
		    <label>OrganizationCategory</label>
		    <div class="display-field">@(Model.OrganizationCategory == null ? "None" : Model.OrganizationCategory.Name)</div>
		</div>
				<div class="form-item">
		    <label>ParentOrganization</label>
		    <div class="display-field">@(Model.ParentOrganization == null ? "None" : Model.ParentOrganization.Name)</div>
		</div>
				<div class="form-item">
	<div class="button_bar clearfix">
			<button class="green" type="submit">
				<span>Delete</span>
			</button>
		</div>
	</div>
	</fieldset>
}
	</div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
	
