@model SoftwareGrid.DataLogic.Models.Department

@{
    ViewBag.Title = "Department";
}

<div class="flat_area grid_16">
    <h2>
        Department</h2>
</div>

<div class="box grid_16">
    <div class="block">
        <h2 class="box_head">
            Department</h2>
		<fieldset>

    <label>Name</label>
    <div class="display-field">@Model.Name</div>

    <label>Description</label>
    <div class="display-field">@Model.Description</div>

    <label>BusinessDivision</label>
    <div class="display-field">@(Model.BusinessDivision == null ? "None" : Model.BusinessDivision.Name)</div>
		</fieldset>
	</div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.DepartmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


