@model SoftwareGrid.DataLogic.Models.VendorFinancialData

@{
    ViewBag.Title = "VendorFinancialData";
    Layout = "~/Views/Shared/_LayoutVMS.cshtml";
}

<div class="flat_area grid_16">
    <h2>
        Vendor Financial Data</h2>
</div>

<div class="box grid_16">
    <div class="block">
        <h2 class="box_head">
            Vendor Financial Data</h2>
		<fieldset>
<div class="form-item">
    @Html.LabelFor(model => model.FinancialYear)
    <div class="display-field">@Model.FinancialYear</div>
</div>
<div class="form-item">
    @Html.LabelFor(model => model.RevenueAmount)
    <div class="display-field">@String.Format("{0:F}", Model.RevenueAmount)</div>
</div>
<div class="form-item">
    @Html.LabelFor(model => model.NetProfit)
    <div class="display-field">@String.Format("{0:F}", Model.NetProfit)</div>
</div>
<div class="form-item">
    @Html.LabelFor(model => model.IsVerified)
    <div class="display-field">@Model.IsVerified</div>
</div>
<div class="form-item">
    @Html.LabelFor(model => model.Vendor)
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Vendor).ToString()</div>
</div>
<div class="form-item">
    @Html.LabelFor(model => model.Currency)
    <div class="display-field">@(Model.Currency == null ? "None" : Model.Currency.Name)</div>
</div>
		</fieldset>
		<div class="form-item">
	@Html.ActionLink("Edit", "Edit", new { id = Model.VendorFinancialDataID, vendorId = ViewBag.VendorId }) |
	@Html.ActionLink("Back to List", "Index",new { vendorId = ViewBag.VendorId })
    
</div>
	</div>
</div>



