@model SoftwareGrid.DataLogic.Models.ContactFolder

@{
    ViewBag.Title = "ContactFolder";
}

<div class="flat_area grid_16">
    <h2>
        Contact Folder</h2>
</div>

<div class="box grid_16">
    <div class="block">
        <h2 class="box_head">
            Contact Folder</h2>
		<fieldset>

    <label>FolderName</label>
    <div class="display-field">@Model.FolderName</div>

    <label>Description</label>
    <div class="display-field">@Model.Description</div>

    <label>CreatedByUser</label>
    <div class="display-field">@(Model.CreatedByUser == null ? "None" : Model.CreatedByUser.LastName)</div>
		</fieldset>
	</div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ContactFolderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


