@model SoftwareGrid.DataLogic.Models.Position

@{
    ViewBag.Title = "Position";
}

<div class="flat_area grid_16">
    <h2>
        Position</h2>
</div>

<div class="box grid_16">
    <div class="block">
        <h2 class="box_head">
            Position</h2>
		<fieldset>

    <label>Name</label>
    <div class="display-field">@Model.Name</div>

    <label>JobDescription</label>
    <div class="display-field">@Model.JobDescription</div>

    <label>Department</label>
    <div class="display-field">@(Model.Department == null ? "None" : Model.Department.Name)</div>
		</fieldset>
	</div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PositionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


