@model SoftwareGrid.DataLogic.ViewModels.ApplicantSearchViewModel

@{
    ViewBag.Title = "Applicant Search View Model";
}
<div class="flat_area grid_16">
    <h2>
        Applicant Search View Model</h2>
</div>
<div class="box grid_16">
    <div class="block">
        <h2 class="box_head">
            Are you sure you want to delete this?</h2>
@using (Html.BeginForm()) {
	<fieldset>
				<div class="form-item">
		    <label>Name</label>
		    <div class="display-field">@Model.Name</div>
		</div>
				<div class="form-item">
		    <label>ResumeKeyword</label>
		    <div class="display-field">@Model.ResumeKeyword</div>
		</div>
				<div class="form-item">
		    <label>ZipCode</label>
		    <div class="display-field">@Model.ZipCode</div>
		</div>
				<div class="form-item">
		    <label>ZipCodeDistanceRadius</label>
		    <div class="display-field">@Model.ZipCodeDistanceRadius</div>
		</div>
				<div class="form-item">
		    <label>SearchAddressLatitude</label>
		    <div class="display-field">@Model.SearchAddressLatitude</div>
		</div>
				<div class="form-item">
		    <label>SearchAddressLongitude</label>
		    <div class="display-field">@Model.SearchAddressLongitude</div>
		</div>
				<div class="form-item">
		    <label>City</label>
		    <div class="display-field">@Model.City</div>
		</div>
				<div class="form-item">
		    <label>State</label>
		    <div class="display-field">@Model.State</div>
		</div>
				<div class="form-item">
		    <label>Country</label>
		    <div class="display-field">@Model.Country</div>
		</div>
				<div class="form-item">
		    <label>Region</label>
		    <div class="display-field">@Model.Region</div>
		</div>
				<div class="form-item">
		    <label>LastUpdatedAt</label>
		    <div class="display-field">@String.Format("{0:g}", Model.LastUpdatedAt)</div>
		</div>
				<div class="form-item">
		    <label>PhoneNumber</label>
		    <div class="display-field">@Model.PhoneNumber</div>
		</div>
				<div class="form-item">
		    <label>Email</label>
		    <div class="display-field">@Model.Email</div>
		</div>
				<div class="form-item">
		    <label>Nationality</label>
		    <div class="display-field">@Model.Nationality</div>
		</div>
				<div class="form-item">
		    <label>Gender</label>
		    <div class="display-field">@Model.Gender</div>
		</div>
				<div class="form-item">
		    <label>SkillsExpertis</label>
		    <div class="display-field">@Model.SkillsExpertis</div>
		</div>
				<div class="form-item">
		    <label>ExperienceLevelCategory</label>
		    <div class="display-field">@Model.ExperienceLevelCategory</div>
		</div>
				<div class="form-item">
		    <label>EmployerName</label>
		    <div class="display-field">@Model.EmployerName</div>
		</div>
				<div class="form-item">
	<div class="button_bar clearfix">
			<button class="green" type="submit">
				<span>Delete</span>
			</button>
		</div>
	</div>
	</fieldset>
}
	</div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
	
