@model SoftwareGrid.DataLogic.Models.OrganizationWorkforcePlan

@{
    ViewBag.Title = "OrganizationWorkforcePlan";
    Layout = "~/Views/Shared/_LayoutOrganization.cshtml";
}

<div class="flat_area grid_16">
    <h2>
        Organization Workforce Plan</h2>
</div>

<div class="box grid_16">
    <div class="block">
        <h2 class="box_head">
            Organization Workforce Plan</h2>
		<fieldset>
<div class="form-item">
    @Html.LabelFor(model => model.Title)
    <div class="display-field">@Model.Title</div>
</div>
<div class="form-item">
    @Html.LabelFor(model => model.Description)
    <div class="display-field">@Model.Description</div>
</div>
<div class="form-item">
    @Html.LabelFor(model => model.Startdate)
    <div class="display-field">@String.Format("{0:g}", Model.Startdate)</div>
</div>
<div class="form-item">
    @Html.LabelFor(model => model.EndDate)
    <div class="display-field">@String.Format("{0:g}", Model.EndDate)</div>
</div>
<div class="form-item">
    @Html.LabelFor(model => model.Organization)
    <div class="display-field">@(Model.Organization == null ? "None" : Model.Organization.Name)</div>
</div>
		</fieldset>
		<div class="form-item">
	@Html.ActionLink("Edit", "Edit", new { id = Model.OrganizationWorkforcePlanID, organizationId = ViewBag.OrganizationId }) |
	@Html.ActionLink("Back to List", "Index",new { organizationId = ViewBag.OrganizationId })
    
</div>
	</div>
</div>



