@model SoftwareGrid.DataLogic.Models.OrganizationHolidayCalendar

@{
    ViewBag.Title = "OrganizationHolidayCalendar";
    Layout = "~/Views/Shared/_LayoutOrganization.cshtml";
}

<div class="flat_area grid_16">
    <h2>
        Organization Holiday Calendar</h2>
</div>

<div class="box grid_16">
    <div class="block">
        <h2 class="box_head">
            Organization Holiday Calendar</h2>
		<fieldset>
<div class="form-item">
    @Html.LabelFor(model => model.IsActive)
    <div class="display-field">@Model.IsActive</div>
</div>
<div class="form-item">
    @Html.LabelFor(model => model.Organization)
    <div class="display-field">@(Model.Organization == null ? "None" : Model.Organization.Name)</div>
</div>
		</fieldset>
		<div class="form-item">
	@Html.ActionLink("Edit", "Edit", new { id = Model.OrganizationHolidayCalendarID, organizationId = ViewBag.OrganizationId }) |
	@Html.ActionLink("Back to List", "Index",new { organizationId = ViewBag.OrganizationId })
    
</div>
	</div>
</div>



