@model SoftwareGrid.DataLogic.Models.RequisitionTeam

@{
    ViewBag.Title = "Requisition Team";
    Layout = "_LayoutRequisition";
}
<div class="flat_area grid_16">
    <h2>
        Requisition Team</h2>
</div>
<div class="box grid_16">
    <div class="block">
        <h2 class="box_head">
            Are you sure you want to delete this?</h2>
@using (Html.BeginForm()) {
	<fieldset>
				<div class="form-item">
		    <label>IsPrimaryRequisitionOwner</label>
		    <div class="display-field">@Model.IsPrimaryRequisitionOwner</div>
		</div>
				<div class="form-item">
		    <label>Requisition</label>
		    <div class="display-field">@Html.DisplayTextFor(_ => Model.Requisition).ToString()</div>
		</div>
				<div class="form-item">
		    <label>RequisitionTeamUser</label>
		    <div class="display-field">@(Model.RequisitionTeamUser == null ? "None" : Model.RequisitionTeamUser.LastName)</div>
		</div>
				<div class="form-item">
		    <label>RequisitionTeamCategory</label>
		    <div class="display-field">@(Model.RequisitionTeamCategory == null ? "None" : Model.RequisitionTeamCategory.Name)</div>
		</div>
				<div class="form-item">
	<div class="button_bar clearfix">
			<button class="green" type="submit">
				<span>Delete</span>
			</button>
		</div>
	</div>
	</fieldset>
}
	</div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
	
